<!-- Kristen Marventano -->

<head>
    <title>Diary</title>

    <!-- Load jQuery and datepicker script -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="script.js"></script>
</head>

<form method="post" action="/diary">
    <!-- If user is logged in, let them add entries/view their diary -->
    {{#if user}}
        <!-- If there are entries, have links to specific dates -->
        {{#if entries}}
            <h1>Entries</h1>
            <hr>

            {{#each entries as |e|}}
                <h4> <a href="#{{e.date}}">{{e.date}}</a></h4>
            {{/each}}

            <hr>
        {{/if}}

        <!-- Display feeling wheel -->
        <h1>Feeling Wheel</h1>
        <hr>
        <div>
            <img src="/img/feelingWheel.png" alt="feelings" align="middle" width="65%">
        </div>
        <hr>


        <!-- Input for creating new entry -->
        <h1>New Entry</h1>
        <div>
            <h3>Date: </h3><input type="text" name="date" required id="datepicker"/>

        </div>
        <div>
            <h3>Mood</h3>
            <textarea name="mood" rows="2" cols="50"
                      placeholder="How did you feel?" required></textarea>
            <br>

        </div>

        <div>
            <h3>Environment</h3>
            <textarea name="environment" rows="2" cols="50"
                      placeholder="Where were you?" required></textarea>
            <br>
        </div>

        <div>
            <h3>Behavior</h3>
            <textarea name="behavior" rows="2" cols="50"
                      placeholder="What were you doing?" required></textarea>
            <br>
        </div>

        <div>
            <h3>Entry</h3>
            <textarea name="entry" rows="10" cols="50"
                      placeholder="Anything else you want to say?"></textarea>
            <br>
        </div>

        <input type="submit" value="Save Entry">
        <hr>

        <!-- Display all entries -->
        {{#if entries}}
            {{#each entries as |e|}}
                <div>
                    <h3 id="{{e.date}}">{{e.date}}</h3>
                </div>

                <div>
                    <h4>Mood: </h4>
                    <div style="margin-left: 3em;">
                        {{e.mood}}
                    </div>
                </div>

                <div>
                    <h4>Environment: </h4>
                    <div style="margin-left: 3em;">
                        {{e.environment}}
                    </div>
                </div>

                <div>
                    <h4>Behavior: </h4>
                    <div style="margin-left: 3em;">
                        {{e.behavior}}
                    </div>
                </div>


                {{#if e.entry}}
                    <div>
                        <h4>Entry: </h4>
                        <div style="margin-left: 3em;">
                            {{e.entry}}
                        </div>
                    </div>
                {{/if}}
                <hr>
            {{/each}}
        {{/if}}
        </div>
        </div>
        </div>

    <!-- If they're not logged in, prompt them to login/register -->
    {{else}}
        <h1 id="diary">Diary</h1>
        <hr>

        To view your diary or make new entries,
        <a href= "/login"> login</a> or
        <a href= "/register"> register</a>
    {{/if}}
</form>
